.main-wrapper {
  margin: 0;
}

div.content {
  margin-top: 60px;
  margin-left: 200px;
  padding: 1px 16px;
}

@media screen and (max-width: 700px) {
  div.content {
    margin-left: 0;
    margin-top: 60PX;
  }
}
